<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shop</title>
</head>
<body>
	<center>
	<h1>Welcome to ElectraTech!</h1>
	{% for product in products %}
	<div class="product-card">
		<!-- Image -->
		<form method="POST" action="/profile">
			<input type="hidden" name="image" value="{{product['image']}}">
			<input type="submit"><img class="product-img" src="{{ product['image'] }}">
		</form>
		<br><br>

		<div class="product-title">
			<!-- Product name -->
			{{ product['name'] }}

			<!-- Price -->
			<span class="product-price">{{ product['price'] }}</span>
		</div>
		<br><br>

		<!-- Description -->
		<div class="product-desc">{{ product['description'] }}</div>
	</div>
	{% endfor %}
	</center>
</body>
</html>