/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px; /* Add padding to give some space around the container */
    display: flex; /* Add Flexbox to center container vertically and horizontally */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container fills the entire viewport vertically */
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; /* Add a bottom border to the h1 element */
    padding-bottom: 10px; /* Add padding to separate the border from the text */
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Add a border around the form */
    padding: 15px; /* Add padding to separate the border from the form elements */
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flash-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


