/* SHOP CSS */

.product-card {
    display: inline-block;
    
    margin: 1em;
    margin-bottom: 2em;

/*    background-color: #E1FFFF;*/
    border: 2px solid #D1D1D1;
    border-radius: 1.5em;
}

.product-img {
    width: 24em;
    height: 24em;
    border-radius: 1em;

}

.product-title {
    font-size: 2em;
}

.product-price {
    font-weight: bold;
    color: goldenrod;
}

.product-desc {
    font-weight: bold;
    color: goldenrod;
}